<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TazaaBazaar</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- fonts: -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">
  <!-- external css/for animation too -->
    <link rel="stylesheet" href="/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/css/animate.css">
    
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">

    <link rel="stylesheet" href="/css/aos.css">

    <link rel="stylesheet" href="/css/ionicons.min.css">

    <link rel="stylesheet" href="/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/icomoon.css">
    <link rel="stylesheet" href="/css/style.css">


      <style type="text/css">
      


      .dropup {
 position:fixed;
 bottom: 0px;
  right: 0px;
  display: inline-block;

}

.dropup-content {
  display: none;
 position:fixed;
 bottom: 0px;
  right: 0px;
  border: 3px solid #f1f1f1;
 
  background-color: #f1f1f1;
  min-width: 160px;
  bottom: 50px;
  z-index: 1;
}

.dropup-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropup-content a:hover {background-color: #ccc}

.dropup:hover .dropup-content {
  display: block;
}

.dropup:hover .dropbtn {
  background-color: #2980B9;
}
    </style>
  </head>
  <body class="goto-here">
    <div class="py-1 bg-primary">
      <div class="container">
        <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
          <div class="col-lg-12 d-block">
            <div class="row d-flex">
              <div class="col-md pr-4 d-flex topper align-items-center">
                <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
                <span class="text">+977-9818617684</span>
              </div>
              <div class="col-md pr-4 d-flex topper align-items-center">
                <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
                <span class="text">tazaabazaar@gmail.com</span>
              </div>
              <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
                <span class="text">3-5 Business days delivery</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
      <div class="container">
        <!-- (logo rakhne yaha) -->
        <a class="navbar-brand" href="index.html">TazaaBazaar</a>             
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active"><a href="/home" class="nav-link">Home</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
                <a class="dropdown-item" href="/fruitsList">Fruits</a>
                <a class="dropdown-item" href="/vegetablesList">Vegetables</a>
                <a class="dropdown-item" href="/poultryList">Poultry</a>
                <a class="dropdown-item" href="/seedsList">Seeds/Saplings</a>



              
          </li>
           <% if(user){ %>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profile</a>
          <div class="dropdown-menu" aria-labelledby="dropdown04">


           <a class="dropdown-item" href="/profile"><%=seller.name%></a> 
            <a class="dropdown-item" href="/logout">Logout</a></li>
 <% } %>
            <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
            <li class="nav-item"><a href="/blog" class="nav-link">Blog</a></li>
            

          </ul>
        </div>
      </div>

         <% if(user){ %>
      
          <div class="dropup">
  <button class="btn btn-black py-3 px-5" id="button" style="color: black;
  background-color: transparent;"">Orders</button>
  <div class="dropup-content">
    <% seller.requests.forEach(function(seller){ %> 
    <input type="hidden"  name="_id" value="<%=seller._id%>" >
              <a  href="/confirm/<%=seller._id%>"><%=seller.Name%>  <%=seller.Amount%></a>
             <% }) %>
  
</div>

 <% } %>      
    </nav>
   


                    <form method="post" action="/Add"   enctype="multipart/form-data"style="margin-left:420px;margin-right:450px;  " >
                                      <div class="right">     
                                      <h1>Add Product</h1> 
                                      <br>  
                
                <input type="hidden" name="_id" value="<%=seller._id%>">
                <input type="hidden" name="seller" value="<%=seller.name%>">
                Product Name: <br><input type="text" name="name" placeholder=" Product name" value ="Avocados">  <br>
                Product Description: <br><input type="text" name="description" placeholder=" Product Description" value="fresh rom my farm in chisapani"> </br>
                Product Price:  <input type ="text" name="price" placeholder="Price " value = "Rs 400 per kg"> <br>
                Product Category:<br> <select name = "type">
                        <option value= "Fruit">Fruit</option>
                        <option value= "Vegetable">Vegetable</option>
                        <option value= "Poultry">Poultry</option>
                        <option value= "Seed/sapling">Seed/sapling</option>
                       </select>
                       <br>
                       Image<br><input type="file" name="file" > 
                       <button type = "submit">Add</button>
                </div>
            </form>
</div>
   <footer class="ftco-footer ftco-section">
      
        <div class="row">
          <div class="col-md-12 text-center">

            <p>
              Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="#" target="_blank">Colorlib</a>
      
            </p>
          </div>
        </div>
      </div>
      <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.easing.1.3.js"></script>
  <script src="/js/jquery.waypoints.min.js"></script>
  <script src="/js/jquery.stellar.min.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <script src="/js/aos.js"></script>
  <script src="/js/jquery.animateNumber.min.js"></script>
  <script src="/js/bootstrap-datepicker.js"></script>
  <script src="/js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="/js/google-map.js"></script>
  <script src="/js/main.js"></script>
    </footer>
    
  

  <!-- loader -->
    
  </body>
</html>