<!DOCTYPE html>
<html>
  <head>
    <title>Login</title> 
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
    <h1>Edit </h1>
    <form method= "post" action ="/updateSeller" style="background-color: lightblue">
  <input type="hidden"  name="_id" value="<%=seller._id%>" >
     
    	<table>
    		<tr>
    			<td>
    				User Name:<input type="text" value="<%=seller.name%>">
    			</td>
    		</tr>
            <tr>
                <td>
                    Phone Number: <input type="text" value="<%=seller.phone_no%>">
                </td>
            </tr>
            <tr>
                <td>
                    Password: <input type="text" value="<%=seller.password%>">
                </td>
            </tr>
    		<tr>s
    			<td>
    				Location: <input type="text" value="<%=seller.location%>">
    			</td>
    		</tr>
    		<tr>
    			<td>
    				Description:<input type="text" value="<%=seller.description%>">
    			</td>
    		</tr>
    		<tr>
    			<td>
    				Products:<input type="checkbox" name="vegetables" value="">Vegetables
    				<input type="checkbox" name="fruits" value="">Fruits
    				<input type="checkbox" name="Polutry" value="">Polutry
    				<input type="checkbox" name="Seeds and Saplings" value=""> Seeds and 
                    Saplings

    			</td>
    		</tr>
            <button>Update Profile</button>
    	</table>
    </form>
       
    
  </body>
</html>
