





<!DOCTYPE html>
<html>
<<<<<<< HEAD
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheet/animate.css">
  <link rel="stylesheet" href="/stylesheet/mainbody.css">
  <link href="https://fonts.googleapis.com/css?family=Prata&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Playball&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles/style.css">
  <style>
  .bg {
    background-image: url("/images/img/background.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  body, html {
    height: 100%;
    margin: 0;
    font-family:  'Courgette', cursive;
    color:  #45ff218b;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* @import url('https://fonts.googleapis.com/css?family=Prata&display=swap'); */
  /* @import url('https://fonts.googleapis.com/css?family=Courgette&display=swap'); */
  .bg {
    /* background-image: url("/images/vegie.jpg") no-repeat center center fixed; */
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    filter: blur(8px);
    -webkit-filter: blur(8px);
  }
  .topnav {
=======
  <head>
    <link rel = "stylesheet" href = "style.css">
    
    <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
    <link rel ="stylesheet" href = "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script> 
    <title>Login</title> 
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>

  <meta name="viewport" content="width=device-width, initial-scale=1">

   <style type="text/css">
 

        *{
            margin:0;
            padding:0;
            box-sizing: border-box;
        }
        .bg {
  background-image: url("login.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
       .container{
        position: absolute;
        top:10%;
        left:40%;
        text-align: center;
         border: 10px solid green;
         font-family: Arial, Helvetica, sans-serif;
         font-size: 10px;
       }
        h1{
        font-size: 40px;
        font-family: monospace;
        color: #e89207;
      }
      label{
        font-size: 23px;
        color: #c99c22;
      }
      .formEditHere{
        width: 500px;
        background-color: #e3d9bf;
      }


body,html {
        height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
>>>>>>> 7534c288b411cd603a7c5f375d7d1243130368e8
    position: absolute;
    top:5%;
    right:0%;
  overflow: hidden;
<<<<<<< HEAD
  color:#AB640D;
  /*background-color: #333;*/
}
=======
  /*background-color: #333;*/
}

>>>>>>> 7534c288b411cd603a7c5f375d7d1243130368e8
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 17px;
}
<<<<<<< HEAD
=======

>>>>>>> 7534c288b411cd603a7c5f375d7d1243130368e8
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
<<<<<<< HEAD
=======

>>>>>>> 7534c288b411cd603a7c5f375d7d1243130368e8
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
<<<<<<< HEAD
  .container{
      position: absolute;
      top:14%;
      left:28%;
      width: 800px;
      height: 450px;
      background: #3e4c1bff;
      opacity: 0.8;
      box-shadow: 5px 10px #888888;
  }
.formpart{
    margin: auto;
    width: 90%;
    color:  #0DF608;
    clear: both;
    font-size: 16px;
}

.left{
    float: left;
    padding-left: 3px;
}
.left h1{
    text-align: center;
    font-size: 30px;
    padding-top:10%;
    padding-bottom: 5%;
}
.right{
    float: right;
}
.right h1{
    text-align: center;
    font-size: 30px;
    padding-top:13%;
    padding-bottom: 5%;
}
input{
    width: 100%;

    clear: both;
}
.noclear input{
    width: 5%;
    clear: none;
}
button{
    /* background: #82f56a8a;  */
    background: #3e4c1bff;
      opacity: 0.9;
      color: whitesmoke;
    /* color:  #45ff218b; */
    font-family:  'Courgette', cursive;
}
button a{
    /* color:  #45ff218b; */
    color: whitesmoke;
    text-decoration: none;
}
}
</style>
</head>
<body>

<div class="bg"></div>
<div class="topnav">
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
        <a  href="/">Home</a>
      </div>
 <div class="container">
            
            <div class="formpart">
            <form method= "post" action ="/updateSeller" >
                   
                <div class="left">
                                
    
  <input type="hidden"  name="_id" value="<%=seller._id%>" >
     
        <h1>Edit Your Profile</h1>
                    User Name: <br><input type="text" name="seller" value="<%=seller.name%>"><br>
                        
                    Phone Number: <br> <input type="text" name="phone_no" value="<%=seller.phone_no%>"><br>
                        
                    Password: <br> <input type="password" name="password" value="<%=seller.password%>" id ="myInput"><br>


                            <div class="noclear"><input type="checkbox" onclick="myFunction()">Show Password<br></div>
                        
                    Location: <br> <input type="text" name="location" value="<%=seller.location%>"><br>
                        
                    Description: <br><input type="text" name="description" value="<%=seller.description%>"><br>
                        <div class="noclear">
                        <label> Products: <br><input type="checkbox" name="vegetables" value="vegetables">Vegetables
                            <input type="checkbox" name="fruits" value="fuits">Fruits
                            <input type="checkbox" name="Polutry" value="polutry">Polutry
                            <input type="checkbox" name="Seeds and Saplings" value="SeedsandSaplings"> Seeds and 
                            Saplings</label>
                        </div>
                        <button type = "submit">Update</button>
                    </div>
                    </form>
                    <form method="post" action="/Add">
                                      <div class="right">        
                <h1>Add Product</h1>
                <input type="hidden" name="_id" value="<%=seller._id%>">
                <input type="hidden" name="seller" value="<%=seller.name%>">
                Product Name: <br><input type="text" name="name" placeholder=" Product name">  <br>
                Product Description: <br><input type="text" name="description" placeholder=" Product Description"> </br>
                Product Price:  <input type ="text" name="price" placeholder="Price "> <br>
                Product Category:<br> <select name = "type">
                        <option value= "Fruit">Fruit</option>
                        <option value= "Vegetable">Vegetable</option>
                        <option value= "Poultry">Poultry</option>
                        <option value= "Seed/sapling">Seed/sapling</option>
                       </select>
                       <button type = "submit">Add</button>
                </div>
            </form>
</div>
</div>
<script type="text/javascript">function myFunction() {
          var x = document.getElementById("myInput");
          if (x.type === "password") {
            x.type = "text";
          } else {
            x.type = "password";
          }
        }</script>
</body>
=======
   
  /*for icon */


</style>


<body>
    <div class="bg"></div>
<div class="topnav">
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
  <a  href="#home">Home</a>
</div>
    <div class="container">
    <h1>Edit Your Profile</h1>
    <form  method="post"  action ="/updateSeller" style="background-color: lightblue">
        
    	
    			<label>	User Name <br><input type="text" value="<%=seller.name%>" class="formEditHere"></label><br>
    			
                 <label>   Phone Number <br> <input type="text" value="<%=seller.phone_no%>" class="formEditHere"></label><br>
                
                 <label>   Password <br> <input type="text" value="<%=seller.password%>" class="formEditHere"></label><br>
                
    			<label>	Location <br> <input type="text" value="<%=seller.location%>" class="formEditHere"> </label><br>
    			
    			<label>	Description <br><input type="text" value="<%=seller.description%>" class="formEditHere"></label><br>
    			
    			<label>	Products <br><input type="checkbox" name="vegetables" value="vegetables">Vegetables
    				<input type="checkbox" name="fruits" value="fuits">Fruits
    				<input type="checkbox" name="Polutry" value="Polutry">Polutry
    				<input type="checkbox" name="Seeds and Saplings" value="Seeds and saplings"> Seeds and 
                    Saplings</label>

    			
       

           
           </form>

    <div class ="icon">
    <table cellpadding="20">
            
                <tr>
            <td><a href="#" i class="fa fa-facebook"></i></a></div></td>
            <td><a href="#" i class="fa fa-twitter"></i></a></div></td>
            <td><a href="#" i class="fa fa-linkedin"></i></a></div></td>
        </tr></table>
    </div>
           


  </body>
>>>>>>> 7534c288b411cd603a7c5f375d7d1243130368e8
</html>
