





<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheet/animate.css">
  <link rel="stylesheet" href="/stylesheet/mainbody.css">
  <link href="https://fonts.googleapis.com/css?family=Prata&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Playball&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles/style.css">
  <style>
  .bg {
    background-image: url("/images/img/background.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%; 
    
    filter: blur(8px);
    -webkit-filter: blur(8px);
  }
  body, html {
    height: 100%;
    margin: 0;
    font-family:  'Courgette', cursive;
    color:  #45ff218b;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

.topnav {

    position: absolute;
    top:5%;
    right:0%;
  overflow: hidden;

  color:#AB640D;
  /*background-color: #333;*/
}


.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
  .container{
      position: absolute;
      top:14%;
      left:28%;
      width: 800px;
      height: 450px;
      background: #3e4c1bff;
      opacity: 0.8;
      box-shadow: 5px 10px #888888;
  }
.formpart{
    margin: auto;
    width: 90%;
    color:  #0DF608;
    clear: both;
    font-size: 16px;
}

.left{
    float: left;
    padding-left: 3px;
}
.left h1{
    text-align: center;
    font-size: 30px;
    padding-top:10%;
    padding-bottom: 5%;
}
.right{
    float: right;
}
.right h1{
    text-align: center;
    font-size: 30px;
    padding-top:13%;
    padding-bottom: 5%;
}
input{
    width: 100%;

    clear: both;
}
.noclear input{
    width: 5%;
    clear: none;
}
button{
    /* background: #82f56a8a;  */
    background: #3e4c1bff;
      opacity: 0.9;
      color: whitesmoke;
    /* color:  #45ff218b; */
    font-family:  'Courgette', cursive;
}
button a{
    /* color:  #45ff218b; */
    color: whitesmoke;
    text-decoration: none;
}
}
</style>
</head>
<body>

<div class="bg"></div>
<div class="topnav">
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
        <a  href="/">Home</a>
      </div>
 <div class="container">
            
            <div class="formpart">
            <form method= "post" action ="/updateSeller" >
                   
                <div class="left">
                                
    
  <input type="hidden"  name="_id" value="<%=seller._id%>" >
     
        <h1>Edit Your Profile</h1>
                    User Name: <br><input type="text" name="seller" value="<%=seller.name%>"><br>
                        
                    Phone Number: <br> <input type="text" name="phone_no" value="<%=seller.phone_no%>"><br>
                        
                    Password: <br> <input type="password" name="password" value="<%=seller.password%>" id ="myInput"><br>


                            <div class="noclear"><input type="checkbox" onclick="myFunction()">Show Password<br></div>
                        
                    Location: <br> <input type="text" name="location" value="<%=seller.location%>"><br>
                        
                    Description: <br><input type="text" name="description" value="<%=seller.description%>"><br>
                        <div class="noclear">
                        <label> Products: <br><input type="checkbox" name="vegetables" value="vegetables">Vegetables
                            <input type="checkbox" name="fruits" value="fuits">Fruits
                            <input type="checkbox" name="Polutry" value="polutry">Polutry
                            <input type="checkbox" name="Seeds and Saplings" value="SeedsandSaplings"> Seeds and 
                            Saplings</label>
                        </div>
                        <button type = "submit">Update</button>
                    </div>
                    </form>
                    <form method="post" action="/Add">
                                      <div class="right">        
                <h1>Add Product</h1>
                <input type="hidden" name="_id" value="<%=seller._id%>">
                <input type="hidden" name="seller" value="<%=seller.name%>">
                Product Name: <br><input type="text" name="name" placeholder=" Product name">  <br>
                Product Description: <br><input type="text" name="description" placeholder=" Product Description"> </br>
                Product Price:  <input type ="text" name="price" placeholder="Price "> <br>
                Product Category:<br> <select name = "type">
                        <option value= "Fruit">Fruit</option>
                        <option value= "Vegetable">Vegetable</option>
                        <option value= "Poultry">Poultry</option>
                        <option value= "Seed/sapling">Seed/sapling</option>
                       </select>
                       <button type = "submit">Add</button>
                </div>
            </form>
</div>
</div>
<script type="text/javascript">function myFunction() {
          var x = document.getElementById("myInput");
          if (x.type === "password") {
            x.type = "text";
          } else {
            x.type = "password";
          }
        }</script>
</body>


  </body>

</html>
